@import url("https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,100..800;1,100..800&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
:root, :root[data-theme="light"] {
    --primary_100: #0f68a3;
    --primary_200: #5596d5;
    --primary_300: #bff9ff;
    --accent_100: #3d5a80;
    --accent_200: #e2f2ff;
    --text_100: #ffffff;
    --text_200: #e0e0e0;
    --bg_300: #2b3444;
    --bg_200: #1f2b3e;
    --bg_100: #0f1c2e;
    --black: #030508;
    font-family: "Glory", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    --gradiend: linear-gradient(
        180deg,
        var(--black) 30%,
        var(--accent_100) 100%
    );

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    background: var(--gradiend);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

:root[data-theme="dark"]{
    --primary_100: #0f68a3;
    --primary_200: #5596d5;
    --primary_300: #bff9ff;
    --accent_100: #3d5a80;
    --accent_200: #e2f2ff;
    --text_100: #ffffff;
    --text_200: #e0e0e0;
    --bg_300: #2b3444;
    --bg_200: #1f2b3e;
    --bg_100: #0f1c2e;
    --black: #030508;
}
@media (prefers-color-scheme: dark) {
    :root {
    --primary_100: #0f68a3;
    --primary_200: #5596d5;
    --primary_300: #bff9ff;
    --accent_100: #3d5a80;
    --accent_200: #e2f2ff;
    --text_100: #ffffff;
    --text_200: #e0e0e0;
    --bg_300: #2b3444;
    --bg_200: #1f2b3e;
    --bg_100: #0f1c2e;
    --black: #030508;
    font-family: "Glory", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    --gradiend: linear-gradient(
        180deg,
        var(--black) 30%,
        var(--accent_100) 100%
    );

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    background: var(--gradiend);
    }
}
    
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    /* display: flex; */
    /* place-items: center; */
    min-width: 320px;
    min-height: 100vh;
    background: var(--gradiend);
    color: var(--text_100);
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
}

input[type="text"],
input[type="email"],
input[type="password"] {
    outline: none;
    border: 2px solid var(--primary_200);
    box-shadow: 2px 4px 0px 0px var(--primary_200);
    color: var(--black);
    width: 100%;
    transition: box-shadow 0.25s;
}
select{
    outline: none;
    border: 2px solid var(--primary_200);
    box-shadow: 2px 4px 0px 0px var(--primary_200);
    color: var(--black);
    width: 100%;
    transition: box-shadow 0.25s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: var(--accent_100);
    box-shadow: 1px 2px 0px 0px var(--accent_100);
}

.white-border {
    border: 4px solid var(--accent_200);
    box-shadow: 2px 4px 0px 0px var(--accent_200);
    color: var(--text_100);
    transition: box-shadow 0.25s;
    outline: none;
    padding: 0.6em 1.2em;
}

.form-selector{
    cursor: pointer;
}
.input-form-selector{
    display: none;
}
.radio-checked{
    border:4px solid var(--primary_300);    
}
.input-form-selector:checked + .radio-checked{
    border:4px solid var(--primary_300);
    background-color: var(--text_100);
}

.main__container {
    height: calc(100vh - 8rem);
    width: 100%;
    flex-grow: 1;
    gap: 4rem;
    overflow-y: scroll;
}

.main__container::-webkit-scrollbar {
    width: 0.5rem;
}

.container {
    max-width: 1400px;
}

.profesores__grid {
    padding: 2rem;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    display: grid;
    /* background-color: var(--bg_200); */
    gap: 4rem;
	grid-template-columns: repeat(auto-fill,minmax(20rem,1fr));
}

.profesor__card{
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profesor__card div a h2 {
    transition: color 0.25s;
    text-shadow: 3px 3px 0px var(--black);
}

.profesor__card div a h2:hover {
    filter: drop-shadow(1px 1px 2px var(--primary_100));
}


.profesor__card div p  {
    width: 100%;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profesor__card div p span {
    font-weight: 400;
    color: var(--primary_300);
    font-style: italic;

}


.grid__title{
    grid-column: 1 / -1;
    text-align: center;
    font-weight: bolder;
    font-size: clamp(4rem, 5vw, 5rem);
}