<!DOCTYPE html>
<html>

<head>
	<style>

		html {
			font-family: Menlo, Monaco, Lucida Console, 'Courier New', Courier, monospace;
			background-color: #fff;
			letter-spacing: -0.025rem;
		}

		body {
			font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
			background-color: #f2f2f2;
		}

		.container {
			max-width: 600px;
			margin: 0 auto;
			padding: 20px;
			background-color: #fff;
			border-radius: 5px;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
		}

		.header {
			text-align: center;
			margin-bottom: 20px;
		}

		.header h1 {
			color: #333;
			font-size: 24px;
			margin: 0;
		}

		.content {
			margin-bottom: 30px;
		}

		.content p {
			text-align: center;
			margin: 0 0 10px;
			line-height: 1.5;
		}

		.footer {
			text-align: center;
		}

		.footer p {
			color: #999;
			font-size: 14px;
			margin: 0;
		}
	</style>
</head>

<body>
	<div class="container">
		<div class="header">
			<h1>Restablecer contraseña</h1>
		</div>
		<div class="content">
			<p>Ingresa al siguiente link para restablecer su contraseña.</p>
			<p><a href="">CLICK AQUÍ!!!</a></p>
			<p>Si usted no fue el que solicito cambio de contraseña hago caso o miso de este correo</p>
		</div>
		<div class="footer">
			<p>ESCOM++</p>
		</div>
	</div>
</body>

</html>